In [ ]:
from netCDF4 import Dataset
import pandas as pd
from wrf import getvar
import glob
import geopandas as gpd

In [2]:
# function to return csv with the variables clipped for precipitation
def wrf_2_csv_precip(wrf):
    nc = Dataset(wrf) # read in the wrf dataframe
    var = getvar(nc, 'RAINNC') # read in the selected variable
    loc = var.isel(south_north = slice(235,279), west_east = slice(160,191)) # make a subdomain of the variable you want to look at 
    df = loc.to_dataframe() # convert xarray to pandas dataframe
    shp = gpd.read_file('C:/Users/Andrew/Documents/Elwah/Elwah/huc10basin.shp') # read in the elwha shapfile
    gdf = gpd.GeoDataFrame(df, crs= 'EPSG:4326', geometry = gpd.points_from_xy(df.XLONG, df.XLAT)) #convert the subdomain to a geopandas dataframe
    gpd_clip = gpd.clip(gdf, shp) # clip it with the elwha basin
    clip_df = pd.DataFrame(gpd_clip) # read the clipped file back into a pandas dataframee
    time = clip_df.iloc[1]['Time'] # find the string value of the selected column
    clip_df.rename(columns = {'RAINNC': time}, inplace= True) # replace df's 'RAINNC' header with the time
    return clip_df.to_csv(wrf + '_precip.csv') # save it as a precipitation csv

In [3]:
# for loop to print the csv files
for filepath in glob.iglob(r'C:\Users\Andrew\Downloads\2015120312\list\*.0000'):
    wrf_2_csv_precip(filepath)

In [4]:
# function to return csv with the variables clipped for precipitation
def wrf_2_csv_temp(wrf):
    nc = Dataset(wrf) # read in the wrf dataframe
    var = getvar(nc, 'T2') # read in the selected variable
    var_cels = var - 273.15
    loc = var_cels.isel(south_north = slice(235,279), west_east = slice(160,191)) # make a subdomain of the variable you want to look at 
    df = loc.to_dataframe() # convert xarray to pandas dataframe
    shp = gpd.read_file('C:/Users/Andrew/Documents/Elwah/Elwah/huc10basin.shp') # read in the elwha shapfile
    gdf = gpd.GeoDataFrame(df, crs= 'EPSG:4326', geometry = gpd.points_from_xy(df.XLONG, df.XLAT)) #convert the subdomain to a geopandas dataframe
    gpd_clip = gpd.clip(gdf, shp) # clip it with the elwha basin
    clip_df = pd.DataFrame(gpd_clip) # read the clipped file back into a pandas dataframee
    time = clip_df.iloc[1]['Time'] # find the string value of the selected column
    clip_df.rename(columns = {'T2': time}, inplace= True) # replace df's 'RAINNC' header with the time
    return clip_df.to_csv(wrf + '_temp.csv') # save it as a csv

In [5]:
for filepath in glob.iglob(r'C:\Users\Andrew\Downloads\2015120312\list\*.0000'):
    wrf_2_csv_temp(filepath)

In [3]:
# new way of concatenating

all_precip_files = glob.iglob(r'C:\Users\Andrew\Downloads\2015120312\list\*_precip.csv')

df_cmbn = pd.concat((pd.read_csv(f) for f in all_precip_files), axis = 1)
df_precip = df_cmbn.drop(['south_north', 'west_east', 'XLONG', 'XLAT', 'Time', 'XTIME', 'geometry'], axis = 1)
df_precip.to_csv('wrf_master_precipitation.csv')

In [12]:
df_precip

,2015-12-03 18:00:00,geometry,2015-12-04 00:00:00,geometry,2015-12-04 06:00:00,geometry,2015-12-04 12:00:00,geometry
0,36.205544,POINT (-123.451904296875 47.67214202880859),56.723010,POINT (-123.451904296875 47.67214202880859),68.041260,POINT (-123.451904296875 47.67214202880859),72.979645,POINT (-123.451904296875 47.67214202880859)
1,34.043003,POINT (-123.4334716796875 47.67252349853516),55.784634,POINT (-123.4334716796875 47.67252349853516),66.230230,POINT (-123.4334716796875 47.67252349853516),70.921590,POINT (-123.4334716796875 47.67252349853516)
2,34.561943,POINT (-123.4150390625 47.67290115356445),57.198265,POINT (-123.4150390625 47.67290115356445),66.122090,POINT (-123.4150390625 47.67290115356445),70.463320,POINT (-123.4150390625 47.67290115356445)
3,30.917124,POINT (-123.4893188476563 47.68378829956055),53.434040,POINT (-123.4893188476563 47.68378829956055),64.546776,POINT (-123.4893188476563 47.68378829956055),69.982666,POINT (-123.4893188476563 47.68378829956055)
4,33.643610,POINT (-123.4708862304688 47.68416213989258),56.684570,POINT (-123.4708862304688 47.68416213989258),68.873620,POINT (-123.4708862304688 47.68416213989258),74.371100,POINT (-123.4708862304688 47.68416213989258)
...,...,...,...,...,...,...,...,...
433,6.319428,POINT (-123.5652770996094 48.11674118041992),12.162637,POINT (-123.5652770996094 48.11674118041992),14.155368,POINT (-123.5652770996094 48.11674118041992),14.657920,POINT (-123.5652770996094 48.11674118041992)
434,5.330338,POINT (-123.5466918945313 48.11713409423828),10.604451,POINT (-123.5466918945313 48.11713409423828),12.456752,POINT (-123.5466918945313 48.11713409423828),12.956044,POINT (-123.5466918945313 48.11713409423828)
435,5.537052,POINT (-123.5658569335938 48.1291389465332),10.901460,POINT (-123.5658569335938 48.1291389465332),12.541862,POINT (-123.5658569335938 48.1291389465332),12.782355,POINT (-123.5658569335938 48.1291389465332)
436,5.241335,POINT (-123.5472869873047 48.12954330444336),10.026847,POINT (-123.5472869873047 48.12954330444336),11.565191,POINT (-123.5472869873047 48.12954330444336),11.791941,POINT (-123.5472869873047 48.12954330444336)
437,4.353229,POINT (-123.5478820800781 48.14194107055664),8.124675,POINT (-123.5478820800781 48.14194107055664),9.326168,POINT (-123.5478820800781 48.14194107055664),9.428238,POINT (-123.5478820800781 48.14194107055664)

In [4]:
# temperature stuff

all_temp_files = glob.iglob(r'C:\Users\Andrew\Downloads\2015120312\list\*_temp.csv')

df_cmbn = pd.concat((pd.read_csv(f) for f in all_temp_files), axis = 1)
df_temp = df_cmbn.drop(['south_north', 'west_east', 'XLONG', 'XLAT', 'Time', 'XTIME', 'geometry'], axis = 1)
df_temp.to_csv('wrf_master_temp.csv')

In [14]:
df_temp

,2015-12-03 18:00:00,geometry,2015-12-04 00:00:00,geometry,2015-12-04 06:00:00,geometry,2015-12-04 12:00:00,geometry
0,2.487671,POINT (-123.451904296875 47.67214202880859),2.148987,POINT (-123.451904296875 47.67214202880859),-1.187195,POINT (-123.451904296875 47.67214202880859),-2.615601,POINT (-123.451904296875 47.67214202880859)
1,2.045319,POINT (-123.4334716796875 47.67252349853516),1.623535,POINT (-123.4334716796875 47.67252349853516),-1.619507,POINT (-123.4334716796875 47.67252349853516),-2.669922,POINT (-123.4334716796875 47.67252349853516)
2,2.429260,POINT (-123.4150390625 47.67290115356445),1.857056,POINT (-123.4150390625 47.67290115356445),-1.087891,POINT (-123.4150390625 47.67290115356445),-2.105987,POINT (-123.4150390625 47.67290115356445)
3,2.776489,POINT (-123.4893188476563 47.68378829956055),2.538269,POINT (-123.4893188476563 47.68378829956055),-1.144836,POINT (-123.4893188476563 47.68378829956055),-2.174774,POINT (-123.4893188476563 47.68378829956055)
4,2.744141,POINT (-123.4708862304688 47.68416213989258),2.428162,POINT (-123.4708862304688 47.68416213989258),-1.124542,POINT (-123.4708862304688 47.68416213989258),-2.668365,POINT (-123.4708862304688 47.68416213989258)
...,...,...,...,...,...,...,...,...
433,12.366913,POINT (-123.5652770996094 48.11674118041992),9.345215,POINT (-123.5652770996094 48.11674118041992),5.406372,POINT (-123.5652770996094 48.11674118041992),7.325623,POINT (-123.5652770996094 48.11674118041992)
434,12.578217,POINT (-123.5466918945313 48.11713409423828),9.357391,POINT (-123.5466918945313 48.11713409423828),5.407074,POINT (-123.5466918945313 48.11713409423828),4.443085,POINT (-123.5466918945313 48.11713409423828)
435,12.097412,POINT (-123.5658569335938 48.1291389465332),9.752228,POINT (-123.5658569335938 48.1291389465332),5.374268,POINT (-123.5658569335938 48.1291389465332),7.636841,POINT (-123.5658569335938 48.1291389465332)
436,11.937439,POINT (-123.5472869873047 48.12954330444336),10.317444,POINT (-123.5472869873047 48.12954330444336),5.169861,POINT (-123.5472869873047 48.12954330444336),4.392181,POINT (-123.5472869873047 48.12954330444336)
437,12.535919,POINT (-123.5478820800781 48.14194107055664),11.181183,POINT (-123.5478820800781 48.14194107055664),8.029114,POINT (-123.5478820800781 48.14194107055664),4.755249,POINT (-123.5478820800781 48.14194107055664)

In [1]:
# create a new function
# read in one file of all the csvs
# add the column of the subsequent file to the one file read in
# create a master wrf dataset for precipitation and temperature

def combine(csv):
    df = pd.read_csv()

In [37]:
# function to find the sum of a column
def rainnc_sum(csv):
    df = pd.read_csv(csv)
    total = df['RAINNC'].sum()
    return print(csv, total)

In [38]:
# for loop to find the file totals
for filepath in glob.iglob(r'C:\Users\Andrew\Downloads\2015120312\list\*.csv'):
    rainnc_sum(filepath)

C:\Users\Andrew\Downloads\2015120312\list\wrfout_d4.2015120312.f06.0000.csv 28367.9028627
C:\Users\Andrew\Downloads\2015120312\list\wrfout_d4.2015120312.f12.0000.csv 45237.507376099995
C:\Users\Andrew\Downloads\2015120312\list\wrfout_d4.2015120312.f18.0000.csv 52472.2065455
C:\Users\Andrew\Downloads\2015120312\list\wrfout_d4.2015120312.f24.0000.csv 55160.1392755

In [77]:
# clipping the pd to the gpd

# reading in the pandas dataframe
df = pd.read_csv('C:/Users/Andrew/Downloads/2015120312/list/wrfout_d4.2015120312.f06.0000_precip.csv')

In [174]:
#df.rename(columns = {'RAINNC': 'Newtime'}, inplace= True)
#find the value, turn it into a string and replace the column with that value
time = df.iloc[1]['Time']
type(time)

str

In [99]:
df.rename(columns = {'RAINNC': time}, inplace= True)
df

,south_north,west_east,XLONG,XLAT,XTIME,Time,2015-12-03 18:00:00
0,0,0,-123.818375,47.626762,360.0,2015-12-03 18:00:00,62.258724
1,0,1,-123.799970,47.627193,360.0,2015-12-03 18:00:00,55.805164
2,0,2,-123.781555,47.627625,360.0,2015-12-03 18:00:00,39.663967
3,0,3,-123.763150,47.628050,360.0,2015-12-03 18:00:00,27.983868
4,0,4,-123.744750,47.628490,360.0,2015-12-03 18:00:00,23.789090
...,...,...,...,...,...,...,...
1359,43,26,-123.363100,48.170555,360.0,2015-12-03 18:00:00,0.412317
1360,43,27,-123.344510,48.170914,360.0,2015-12-03 18:00:00,0.357150
1361,43,28,-123.325910,48.171280,360.0,2015-12-03 18:00:00,0.302546
1362,43,29,-123.307310,48.171640,360.0,2015-12-03 18:00:00,0.292225
1363,43,30,-123.288730,48.171993,360.0,2015-12-03 18:00:00,0.320098

In [ ]:
# clipping trials #
# read in shapefile

shp = gpd.read_file('C:/Users/Andrew/Documents/Elwah/Elwah/huc10basin.shp')
shp

In [47]:
# converting it in to a gpd
gdf = gpd.GeoDataFrame(df, crs= 'EPSG:4326', geometry = gpd.points_from_xy(df.XLONG, df.XLAT))
gdf

,south_north,west_east,XLONG,XLAT,XTIME,Time,RAINNC,geometry
0,0,0,-123.818375,47.626762,360.0,2015-12-03 18:00:00,62.258724,POINT (-123.81838 47.62676)
1,0,1,-123.799970,47.627193,360.0,2015-12-03 18:00:00,55.805164,POINT (-123.79997 47.62719)
2,0,2,-123.781555,47.627625,360.0,2015-12-03 18:00:00,39.663967,POINT (-123.78156 47.62763)
3,0,3,-123.763150,47.628050,360.0,2015-12-03 18:00:00,27.983868,POINT (-123.76315 47.62805)
4,0,4,-123.744750,47.628490,360.0,2015-12-03 18:00:00,23.789090,POINT (-123.74475 47.62849)
...,...,...,...,...,...,...,...,...
1359,43,26,-123.363100,48.170555,360.0,2015-12-03 18:00:00,0.412317,POINT (-123.36310 48.17056)
1360,43,27,-123.344510,48.170914,360.0,2015-12-03 18:00:00,0.357150,POINT (-123.34451 48.17091)
1361,43,28,-123.325910,48.171280,360.0,2015-12-03 18:00:00,0.302546,POINT (-123.32591 48.17128)
1362,43,29,-123.307310,48.171640,360.0,2015-12-03 18:00:00,0.292225,POINT (-123.30731 48.17164)
1363,43,30,-123.288730,48.171993,360.0,2015-12-03 18:00:00,0.320098,POINT (-123.28873 48.17199)

In [100]:
clip_df = pd.DataFrame(gpd_clip)
clip_df

,south_north,west_east,XLONG,XLAT,XTIME,Time,RAINNC,geometry
113,3,20,-123.451904,47.672142,360.0,2015-12-03 18:00:00,36.205544,POINT (-123.45190 47.67214)
114,3,21,-123.433470,47.672523,360.0,2015-12-03 18:00:00,34.043003,POINT (-123.43347 47.67252)
115,3,22,-123.415040,47.672900,360.0,2015-12-03 18:00:00,34.561943,POINT (-123.41504 47.67290)
142,4,18,-123.489320,47.683790,360.0,2015-12-03 18:00:00,30.917124,POINT (-123.48932 47.68379)
143,4,19,-123.470890,47.684162,360.0,2015-12-03 18:00:00,33.643610,POINT (-123.47089 47.68416)
...,...,...,...,...,...,...,...,...
1224,39,15,-123.565280,48.116740,360.0,2015-12-03 18:00:00,6.319428,POINT (-123.56528 48.11674)
1225,39,16,-123.546690,48.117134,360.0,2015-12-03 18:00:00,5.330338,POINT (-123.54669 48.11713)
1255,40,15,-123.565860,48.129140,360.0,2015-12-03 18:00:00,5.537052,POINT (-123.56586 48.12914)
1256,40,16,-123.547290,48.129543,360.0,2015-12-03 18:00:00,5.241335,POINT (-123.54729 48.12954)
1287,41,16,-123.547880,48.141940,360.0,2015-12-03 18:00:00,4.353229,POINT (-123.54788 48.14194)

In [110]:
clip_df.to_csv('wrf_2015_12_03_18.csv')
# end clipping #